.root {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  
  .app-name {
    font-size: 28px;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  .has-gradient-text {
    background: -webkit-linear-gradient(#4d07bd, #d31746);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  
    min-width: 0;
    min-height: 0;
    .board-bar {
      background: rgba($color: gray, $alpha: 0.5);
      padding: 8px 8px;
  
      .board-name {
        font-size: 20px;
        font-weight: bold;
        color: rgba(217, 241, 238, 0.836);
      }
    }
  
    .board-wrapper {
      display: flex;
      flex-grow: 1;
      overflow-x: auto;
      .board-columns {
        display: flex;
        flex-grow: 1;
  
        .board-column {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
  
          min-width: 800px;
          margin: 15px;
          padding: 15px;
  
          border-radius: 4px;
  
          background: rgba($color: rgb(40, 9, 219), $alpha: 0.5);
          &:not(:first-child) {
            margin-left: 0;
          }
  
          .column-title {
            font-size: 20px;
            font-weight: 800;
            font-family: sans-serif;
            text-transform: uppercase;
            margin-bottom: 20px;
  
          }
        }
      }
    }
  }